@font-face {
    font-family: LCD;
    src: url('../public/fonts/LCDM2B__.TTF');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: LCD-thin;
    src: url('../public/fonts/LCDM2L__.TTF');
    font-style: normal;
}

.container {
    position: relative;
    background-color: black;
    width:100%;
    height: 100%;
}

.outerContainer {    
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.innerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0px 0px 1px 1px white,
                0px 0px 4px 4px cyan,
                0px 0px 10px 10px blue,
                inset 0px 0px 1px 1px white, 
                inset 0px 0px 2px 2px cyan,
                inset 0px 0px 10px 10px blue; 
    animation-duration: 2s;
    animation-name: flickerinborder;
}

.titleContainer {
    position: relative;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.048));
    animation-delay: 2.1s;
    animation-name: flickerintitlebackground;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.titleContainer:after {
    content: "";
    mix-blend-mode:normal;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px rgba(255, 230, 0, 0),
        inset 0px 0px 10px 10px rgba(255, 72, 0, 0.014); 
    animation-name: flickerinbackgroundglow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}

.titleText {
    position: relative;
    color: rgba(255, 60, 0, 0);
    font-family: LCD;
    font-size: 90px;
    text-shadow: 
    0px 0px 3px rgba(255, 153, 0, 0),
    0px 0px 10px rgba(255, 60, 0, 0);
    animation-duration: 2s;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}

.titleText:after {
    content: "roadmap";
    position: absolute;
    left:0;
    color:rgba(255, 255, 255, 0);
    font-family: LCD-thin;
    letter-spacing:5.5px;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-name: flickerintitletextcenter;
    animation-duration: 2s;
}

.lR {
    animation-name: flickerinletter;
    animation-delay: 2.3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.lO {
    animation-name: flickerinletter;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.lA {
    animation-name: flickerinletter;
    animation-delay: 2.7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.lD {
    animation-name: flickerinletter;
    animation-delay: 2.75s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.lM {
    animation-name: flickerinletter;
    animation-delay: 2.78s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.la {
    animation-name: flickerinletter;
    animation-delay: 2.9s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.lP {
    animation-name: flickerinletter;
    animation-delay: 3.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.contentContainer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: white;
}

.containerLeft {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 0, 191, 0.137),rgba(204, 0, 255, 0.61));
    border-radius: 8px;
    border: 3px solid white;
    box-shadow: 0px 0px 1px 1px white, 
    inset 0px 0px 3px 3px rgb(255, 110, 224),
    inset 0px 0px 10px 10px rgba(204, 0, 255, 0.61); 
    font-family: lcd;
    font-size: 6em;
    animation-fill-mode: backwards;
    animation-delay: 5s;
    animation-name: fadein;
    animation-duration: 2s;
}

.leftTop {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 31, 31);
    text-shadow: 
    0px 0px 3px rgb(255, 0, 191),
    0px 0px 10px rgb(255, 31, 31);
}

.leftBottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(102, 255, 31);
    text-shadow: 
    0px 0px 3px rgb(0, 255, 149),
    0px 0px 10px rgb(102, 255, 31);
    
}

.containerRight {
    width: 75%;
    background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 0, 191, 0.137),rgba(204, 0, 255, 0.61));
    border-radius: 8px;
    border: 3px solid white;
    box-shadow: 0px 0px 1px 1px white, 
    inset 0px 0px 3px 3px rgb(255, 110, 224),
    inset 0px 0px 10px 10px rgba(204, 0, 255, 0.61); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-fill-mode: backwards;
    animation-delay: 5s;
    animation-name: fadein;
    animation-duration: 2s;
}

.rightTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
}

.rightBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.textContainer {
    width: 75%;
    border-bottom: 1px solid white;
    font-family: lcd;
    font-size: 1.2em;
}

.pixContainer {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix {
    width: 50%;
}

@keyframes flickerinborder {
    from {
        box-shadow: 0px 0px 4px 4px grey; 
    }

    10% {
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0),
        0px 0px 4px 4px rgb(0, 0, 0),
        0px 0px 10px 10px rgb(0, 0, 0),
        inset 0px 0px 1px 1px rgb(0, 0, 0), 
        inset 0px 0px 4px 4px rgb(0, 0, 0),
        inset 0px 0px 10px 10px rgb(0, 0, 0)
    }

    15% {
        box-shadow: 0px 0px 1px 1px white,
        0px 0px 4px 4px cyan,
        0px 0px 10px 10px blue,
        inset 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px cyan,
        inset 0px 0px 10px 10px blue;
    }

    20% {
        box-shadow: 0px 0px 1px 1px rgb(102, 102, 102),
        0px 0px 4px 4px rgba(153, 153, 153, 0.836),
        0px 0px 10px 10px rgba(0, 0, 255, 0),
        inset 0px 0px 1px 1px rgb(102, 102, 102), 
        inset 0px 0px 4px 4px rgba(0, 255, 255, 0),
        inset 0px 0px 10px 10px rgba(0, 0, 255, 0); 
    }
    25% {
        box-shadow: 0px 0px 1px 1px white,
        0px 0px 4px 4px cyan,
        0px 0px 10px 10px blue,
        inset 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px cyan,
        inset 0px 0px 10px 10px blue;
    }
    30% {
        box-shadow: 0px 0px 1px 1px rgb(102, 102, 102),
        0px 0px 4px 4px rgba(153, 153, 153, 0.836),
        0px 0px 10px 10px rgba(0, 0, 255, 0),
        inset 0px 0px 1px 1px rgb(102, 102, 102), 
        inset 0px 0px 4px 4px rgb(0, 255, 255),
        inset 0px 0px 10px 10px rgba(0, 0, 255, 0); 
    }

    50% {
        box-shadow: 0px 0px 1px 1px rgb(102, 102, 102),
        0px 0px 4px 4px rgba(153, 153, 153, 0.836),
        0px 0px 10px 10px rgba(0, 0, 255, 0),
        inset 0px 0px 1px 1px rgb(102, 102, 102), 
        inset 0px 0px 4px 4px rgb(129, 129, 129),
        inset 0px 0px 10px 10px rgba(0, 0, 255, 0); 
    }

    60% {
        box-shadow: 0px 0px 1px 1px white,
        0px 0px 4px 4px cyan,
        0px 0px 10px 10px blue,
        inset 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px cyan,
        inset 0px 0px 10px 10px blue;
    }

    70% {
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.288),
        0px 0px 4px 4px rgba(0, 255, 255, 0.205),
        0px 0px 10px 10px rgba(0, 0, 255, 0.247),
        inset 0px 0px 1px 1px rgba(255, 255, 255, 0.267), 
        inset 0px 0px 2px 2px rgba(0, 255, 255, 0.205),
        inset 0px 0px 10px 10px rgba(0, 0, 255, 0.178);
    }

    to {
        box-shadow: 0px 0px 1px 1px white,
        0px 0px 4px 4px cyan,
        0px 0px 10px 10px blue,
        inset 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px cyan,
        inset 0px 0px 10px 10px blue;;
    }
}

@keyframes flickerintitlebackground {
    from {
        background-image: radial-gradient(rgba(255, 102, 0, 0),rgba(255, 72, 0, 0));
    }

    10% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.05));
    }

    20% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.10));
    }
    30% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.15));
    }
    40% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.20));
    }
    50% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.25));
    }
    60% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.30));
    }
    70% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.35));
    }
    80% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.40));
    }
    90% {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.50));
    }
    to {
        background-image: radial-gradient(rgba(255, 102, 0, 0.027),rgba(255, 72, 0, 0.61));
    }
}

@keyframes flickerinbackgroundglow {
    from {
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0), 
        inset 0px 0px 2px 2px rgba(95, 95, 95, 0),
        inset 0px 0px 10px 10px rgba(255, 72, 0, 0); 
    }

    to {
        box-shadow: 0px 0px 1px 1px white, 
        inset 0px 0px 2px 2px rgb(255, 230, 0),
        inset 0px 0px 10px 10px rgb(255, 72, 0); 
    }
}

@keyframes flickerintitletext {
    from {
        text-shadow: 
        0px 0px 3px rgba(167, 167, 167, 0),
        0px 0px 10px rgba(255, 60, 0, 0);
        color: rgba(107, 107, 107, 0.363)
    }
    to {
        text-shadow: 
        0px 0px 3px rgb(255, 153, 0),
        0px 0px 10px rgb(255, 60, 0);
        color: rgb(255, 60, 0)
    }
}

@keyframes flickerintitletextcenter {
    from {
        opacity: 0;
        color:rgba(83, 83, 83, 0.568);
        text-shadow: 0px 0px 15px rgb(104, 104, 104);
    }

    to {
        opacity: 1;
        color:white;
        text-shadow: 0px 0px 20px rgb(255, 255, 255);
    }
}

@keyframes flickerinletter {
    from {
        text-shadow: 
        0px 0px 3px rgba(255, 153, 0, 0.082),
        0px 0px 10px rgba(255, 60, 0, 0.089);
        color: rgba(255, 60, 0, 0.055)
    }

    40% {
        text-shadow: 
        0px 0px 3px rgba(255, 153, 0, 0.479),
        0px 0px 10px rgba(255, 60, 0, 0.493);
        color: rgba(255, 60, 0, 0.473)
    }

    45%{
        text-shadow: 
        0px 0px 3px rgba(255, 153, 0, 0.137),
        0px 0px 10px rgba(255, 60, 0, 0.137);
        color: rgba(255, 60, 0, 0.171)
    }

    to {
        text-shadow: 
        0px 0px 3px rgb(255, 153, 0),
        0px 0px 10px rgb(255, 60, 0);
        color: rgb(255, 60, 0)
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
